

<div class="row">
	<div class="span2">
		<h2>Editar</h2>
		<%= button_to 'Mostrar', @articulo, :method=>:get, :class=>"btn  btn-primary"  %> 
		<%= button_to 'Inicio', root_path, :method=>:get, :class=>"btn  btn-primary" %>
	</div>
	<div class="span10">
	<%= render 'form' %>
	</div>
</div>




