
<div class="row">
	<div class="span2">
		<h2>Nuevo</h2>
		<%= button_to 'Inicio', root_path, :method=>:get, :class=>"btn  btn-primary" %>
	</div>
	<div class="span10">
		<%= render 'form' %>
	</div>

</div>




